<div id="psppno-workflow-metabox">
	<!-- Events -->
	{{ section_event|raw }}

	<!-- Receiver -->
	{{ section_receiver|raw }}

	<!-- Content -->
	{{ section_content|raw }}

	<!-- Channel -->
	{{ section_channel|raw }}

</div>
