{
  "presets": [
    [
      "@wordpress/babel-preset-default"
    ],
    [
      "minify"
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "wp.element.createElement"
      }
    ]
  ],
  "sourceMaps": "inline"
}
