# Docker container name
CONTAINER_NAME="publishpress-planner"

# Docker image name
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:publishpress-planner"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./.cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="publishpress-planner"

# The domain of the plugin to be tested.
LANG_DOMAIN="publishpress-planner"

# The directory of the language files.
LANG_DIR="languages"

# The locales to be used for translation in the plugin.
LANG_LOCALES="de_DE es_ES fi fil fr_FR id_ID it_IT ja ko_KR nl_NL pt_BR ru_RU yo"

# OpenAI API key for AI translation in the plugin.
OPENAI_API_KEY=sk-proj-your-openai-key

# Weblate API token for translation management in the plugin.
WEBLATE_API_TOKEN=wlu_your-weblate-token
