.svn
.git
.DS_Store
wpcom-helper.php

/local.sh
node_modules

/.properties.ini

/packages
/vendor
/lib/**/.git
/builder
.idea
/dist
builder.yml
builder.yml.dist
.editorconfig

!tests/_support/.gitkeep
tests/_support/*
.php_cs.cache
.sass-cache/*
/codeception.yml

.vscode/*
*.code-workspace
