{% set link %}
    <a href="https://wordpress.org/plugins/publishpress" target="_blank">{{ lang.publishpress }}</a>
{% endset %}

<div class="notice notice-error is-dismissible">
    {{ lang.warning|replace( { '__plugin__': link } )|raw }}
</div>