<div id="psppno-workflow-metabox-section-{{ id }}" class="{{ class }} psppno-workflow-metabox-section">
    {% if header %}
        <div class="psppno_workflow_metabox_section_header">
			{{ header }}
		</div>
    {% endif %}

    {{ html|raw }}
</div>
