<div id="col-right">
    <div class="col-wrap">
        {{ display_role_list_table()|raw }}
    </div>
</div>

<div id="col-left">
    <div class="col-wrap">
        <div class="form-wrap">
            <h2>
                {% if action == 'edit-role' %}{{ labels.edit }}{% else %}{{ labels.add_new }}{% endif %}
            </h2>
            <form
                    class="add:the-list:"
                    action="{{ form_action }}"
                    method="post"
                    id="addrole"
                    name="addrole">

                <div class="form-field form-required">
                    <label for="dislpay_name">{{ labels.display_name }}</label>
                    <input type="text" aria-required="true" id="display_name" name="display_name" maxlength="40"
                           value="{{ role.display_name }}"/>

                    {% if errors.display_name|length %}
                    <p class="error">{{ errors.display_name }}</p>
                    {% endif %}

                    <p class="description">{{ labels.display_name_description }}</p>
                </div>

                <div class="form-field form-required">
                    <label for="name">{{ labels.name }}</label>
                    <input type="text" aria-required="true" id="name" name="name" maxlength="40" value="{{ role.name }}"
                           {% if action== 'edit-role' %}readonly{% endif %}/>

                    {% if errors.name|length %}
                    <p class="error">{{ errors.name }}</p>
                    {% endif %}

                    <p class="description">{{ labels.name_description }}</p>
                </div>

                <div class="form-field form-required">
                    <label for="users">{{ labels.users}}</label>
                    <select data-placeholder="{{ labels.select_users }}" multiple class="chosen-select" name="users[]">
                        {% for user in users %}
                        <option value="{{ user.ID }}" {% if user.ID in role_users %}selected{% endif %}>{{
                            user.display_name }}
                        </option>
                        {% endfor %}
                    </select>

                    {% if errors.users|length %}
                    <p class="error">{{ errors.users }}</p>
                    {% endif %}

                    <p class="description">{{ labels.users_description }}</p>
                </div>

                {{ nonce|raw }}

                <input type="hidden" name="role-id" maxlength="40" value="{{ role.name }}"/>
                <input id="form-action" name="form-action" type="hidden"
                       value="{{ action }}"/>

                <p class="submit">
                    {{ submit_button()|raw }}
                </p>
            </form>
        </div>
    </div>
</div>
