.pp_post_notify_list li {
    padding: 10px 5px 5px 5px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.pp_post_notify_list li:hover {
    background: #EAF2FA;
}

.pp_post_notify_list li input {
    float: right;
}

.pp_post_notify_list .pp-user_displayname,
.pp_post_notify_list .pp-usergroup_name {
    display: block;
    font-size: 14px;
}

.pp_post_notify_list .pp-user_useremail,
.pp_post_notify_list .pp-usergroup_description {
    display: block;
    color: #ccc;
    font-size: 12px;
}

#pp_post_notify_box {
    margin: 10px 0;
}

#pp_post_notify_box h4 {
    background: #F1F1F1;
    font-weight: bold;
    padding: 8px;
    margin: 0;
    border: 1px solid #DFDFDF;
    -moz-border-radius: 3px;
}

#pp_post_notify_box .error {
    color: red;
}

#pp_post_notify_box label.pp-select_all_box {
    float: right;
    margin: -20px 10px;
}

#pp_post_notify_box label.pp-select_all_box input {
    margin-bottom: 5px;
}
